/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

  header {
    display: flex;
    height: 180px;
    min-width: 240px;
    align-items: center;
    color: #fff;
    text-shadow: #000 0 0 .2em;
    /* background: no-repeat url('stanley.jpg'); */
    background-size: 240px;
    background:#c8a5d8;
 
  }

  .site-title {
    padding: 0px 0px 0px 20px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }

  .top-nav {
    background-color: #333;
  }

  .top-nav ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 5px;
    padding: 5px;
    overflow: hidden;
  }

  .top-nav li {
    float: left;
    color: #fff;
    padding: 10px 0px;
  }

  .top-nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  .flash-hash {
    text-align:center;
    font-weight: bold;
  }
  
  /* Change the link color to #111 (black) on hover */
 .top-nav li a:hover {
    background-color: #111;
  }

  /* style for the area under the header */
  .sub-body{
    background-color: rgb(221, 219, 219);
    padding: 0px 15px 10px 15px;
  }

  .sub-body h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 10px 0px 5px 25px;
  }

  /* style all marquee images...right now just Stanley */
  marquee {
    height:180px;
    /* visibility:hidden; */
  }
  
  marquee img {
    overflow: hidden;
    height:240px;
  }

  marquee span {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 0px 10px;
  }


  /* USERS INDEX */
  /* style for the button to chat on the Users index list */
  .button-to{

  }
  .chat-button{
    border-radius: 40px;
  }
  .chat-button:hover {
    background-color: #652980; 
    color:white;
  }

/* style for all tables (users & board index) */
table {
  width: 90%;
  margin: auto;
}

table a {
  text-decoration: none;
  color: black;
}

table a:hover {
  text-decoration: none;
  color: #652980;
}

th{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: large;
}

td, th {
  padding: 10px;
}

td.name {
  font-weight: bold;
}
tbody tr:nth-child(even){
  background:#c8a5d8;
}

tbody tr:hover{
  background:#BDC3C7;
    color:#652980;
  }



  
/* message styling */
.left-message {
  display: flex;
  flex-direction: row;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 90%;
  
}

.right-message{
  display: flex;
  flex-direction: row-reverse;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 85%;
}

.other-message {
  background-color: #652980;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 25px 25px 25px 5px;
  padding: 10px 20px;
  color: white;
  text-decoration: none;
}

.self-message {
  background-color: #e22373;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 25px 25px 5px 25px;
  padding: 10px 20px;
  text-align: right;
  color: white;
}

.other-message a, .self-message a{
  text-decoration: none;
  color: #9b9b9b;
}

/* Sign-in form */

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

a.template-link{
  text-decoration: none;
  color:white;
  padding: 5px;
  background-color:#652980 ;
  line-height: 20px;
  margin: 5px 5px 5px 25px;
}

img.profile-photo {
  max-height: 300px;
  max-width: 300px;
  margin: 10px 0px;
  border-radius: 15px;
}

img.msg-thumbnail {
  height: 1em;
}

/* users index stuff */
.user-index-grid {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  // display: grid;
  // grid-column-gap: 50px;
  // grid-template-columns: 20% 20% 20% 20% 20%;
  // grid-template-rows: auto;
}

.user-index-grid > .profile-item {
  width: 250px;
  display:flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  height:auto;
}

.user-index-grid > .profile-item:hover{
  background:#BDC3C7;
    color:#652980;
  }

.user-index-grid .photo img {
  width: 100%;
  height: auto;
}
.user-index-grid .name {
  margin:10px;
}

.user-index-grid .name a{
  font-weight: bold;
  text-decoration: none;
  color: black;
}

.user-index-grid .name a:hover {
  color: #652980;
}

.user-index-grid .personal-chat {
  margin:10px;
}
.user-index-grid .ham-chat {
  display: flex;
  justify-self: end;
  margin:10px;
  align-content: center;
}

.user-index-grid .ham-chat form {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}
.container:hover .overlay {
  opacity: 1;
}
